Repository AngleSharp/AngleSharp, pull requests merged in 2021-06, with the labels that each got.

#975 Improve nullable annotations for namespaceUri
  CHANGELOG.md
  src/AngleSharp/Dom/IDocument.cs
  src/AngleSharp/Dom/IElement.cs
  src/AngleSharp/Dom/INamedNodeMap.cs
  src/AngleSharp/Dom/INode.cs
  src/AngleSharp/Dom/Internal/Attr.cs
  src/AngleSharp/Dom/Internal/Document.cs
  src/AngleSharp/Dom/Internal/DocumentFragment.cs
  src/AngleSharp/Dom/Internal/Element.cs
  src/AngleSharp/Dom/Internal/NamedNodeMap.cs
  src/AngleSharp/Dom/Internal/Node.cs
  src/AngleSharp/Dom/Internal/ShadowRoot.cs
  src/AngleSharp/Dom/QueryExtensions.cs
  src/Directory.Build.props
Labels: api, enhancement

#978 Add interface for picture element
  CHANGELOG.md
  src/AngleSharp/Html/Dom/IHtmlPictureElement.cs
  src/AngleSharp/Html/Dom/Internal/HtmlPictureElement.cs
Labels: dom, enhancement

#986 Enable deterministic builds
  tools/anglesharp.cake
Labels: tool-chain
