Repository AngleSharp/AngleSharp, pull requests merged in 2024-03, with the labels that each got.

#1178 Release 1.1.1
  CHANGELOG.md
  CONTRIBUTORS.md
  nuke/Build.cs
  nuke/ReleaseNotesParser.cs
  src/AngleSharp.Core.Docs/package.json
  src/AngleSharp.Core.Tests/Html/Tricky.cs
  src/AngleSharp.Core.Tests/Library/ArrayPoolBufferTests.cs
  src/AngleSharp.Core.Tests/Library/FormSubmit.cs
  src/AngleSharp.nuspec
  src/AngleSharp/Common/ArrayPoolBuffer.cs
  src/AngleSharp/Dom/TagNames.cs
  src/AngleSharp/Html/Construction/SourceReference.cs
  src/AngleSharp/Html/Dom/Internal/HtmlFormElement.cs
  src/AngleSharp/Html/FormDataSet.cs
  src/AngleSharp/Html/Forms/Submitters/DefaultHtmlEncoder.cs
  src/AngleSharp/Html/Forms/Submitters/MultipartFormDataSetVisitor.cs
  src/AngleSharp/Html/Parser/HtmlDomBuilder.cs
  src/AngleSharp/Html/Parser/HtmlTokenizer.cs
  src/AngleSharp/Html/Parser/Tokens/HtmlTagToken.cs
  src/AngleSharp/Html/Parser/Tokens/HtmlToken.cs
  src/AngleSharp/Html/Parser/Tokens/Struct/StructHtmlToken.cs
  src/AngleSharp/Io/DocumentRequest.cs
  src/Directory.Build.props
Labels: release

#1182 Release 1.1.2
  CHANGELOG.md
  src/AngleSharp.Core.Docs/package.json
  src/AngleSharp.Core.Tests/Html/Tricky.cs
  src/AngleSharp.Core.Tests/Library/HttpRequester.cs
  src/AngleSharp/Browser/DefaultNavigationHandler.cs
  src/AngleSharp/Dom/CreateDocumentOptions.cs
  src/AngleSharp/Dom/DocumentExtensions.cs
  src/AngleSharp/Dom/Internal/Node.cs
  src/AngleSharp/Dom/MutationObserver.cs
  src/AngleSharp/Dom/NodeExtensions.cs
  src/AngleSharp/Html/Construction/IConstructableNode.cs
  src/AngleSharp/Html/Parser/HtmlDomBuilder.cs
  src/AngleSharp/Text/TextSource.cs
  src/AngleSharp/Text/WritableTextSource.cs
  src/Directory.Build.props
Labels: release

#1153 Added an optional callback OnToken
  src/AngleSharp.Core.Tests/Examples/Questions.cs
  src/AngleSharp/Html/Parser/HtmlDomBuilder.cs
  src/AngleSharp/Html/Parser/HtmlParserOptions.cs
  src/AngleSharp/Html/Parser/HtmlTokenizer.cs
Labels: enhancement, api

#1185 Fixed the loading of link element source
  src/AngleSharp.Core.Tests/Css/StyleExtensions.cs
  src/AngleSharp/Dom/Internal/DefaultAttributeObserver.cs
  src/AngleSharp/Html/Dom/Internal/HtmlLinkElement.cs
Labels: bug, enhancement, dom
